Flask
python-dotenv
accelerate>=0.26.0
flask-cors
langchain-nvidia-ai-endpoints
langchain-core
langgraph>0.2.27
langsmith
tavily-python
langchain-community
langgraph-checkpoint-sqlite

evaluate
datasets
fsspec
huggingface_hub
-e ./datastore

# run "pip install -e ."
# run "python -m app.app"